@import url('http://fonts.cdnfonts.com/css/chunkfive-ex');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;                                             
}

.hero{
  padding: 1.5rem;
  /* height: 100vh; */
  background-color: #d3d3d3;
}

/* .hero::before {
  content: "";
  background-image: url(img/pexels-icsa-1708936-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
} */

img {
  height: 100%;
  width: 100%;
}

.menu {
  height: 30px;
  width: 30px;
}

.sub-hero {
  margin-top: 2.5rem;
}

.talent {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  color: #ec5242;
}

.title {
  font-size: 2.5rem;
  background: linear-gradient(90deg,#ec5242, #2e0b09);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'ChunkFive Ex', sans-serif;                                             
}

.sub-hero-desc {
  background: #afafaf;
  border: 2px solid rgb(247, 245, 245);
  padding: 15px 20px;
  transition-property: none;
}

.sub-hero-desc p {
  font-size: 1rem;
  line-height: 25px;
}

.event-time {
  font-size: 2.2rem;
  margin-top: 1.5rem;
  color: #272a31;
}

.venue {
  font-size: 1.5rem;
  color: #494949;
  margin-top: 0.7rem;
}

.program-section {
  background-image: url(img/pattern.svg);
  padding: 1.5rem;
}

.program-heading {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.program-icon {
  width: 10%;
  height: 10%;
}

.pro-desc {
  color: #fff;
  width: 50%;
  font-size: 1rem;
  line-height: 1.9rem;
}

.program-title {
  color: #ec5242;
  text-align: center;
  font-size: 1.2rem;
}

.progam {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: rgba(59, 59, 59, 0.4);
  padding: 20px;
}

.btn-join {
  margin-top: 2rem;
  background-color: #ec5242;
  color: #fff;
  font-size: 1rem;
  padding: 20px;
  border: none;
  font-weight: 900;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.speaker-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.person {
  width: 8rem;
  height: 8rem;
}