@import url('http://fonts.cdnfonts.com/css/chunkfive-ex');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;  
  width: 100%;                                           
}

.hero{
  padding: 1.5rem;
  /* height: 100vh; */
  background-color: #d3d3d3;
}

/* .hero::before {
  content: "";
  background-image: url(img/pexels-icsa-1708936-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
} */

img {
  height: 100%;
  width: 100%;
}

.menu {
  height: 30px;
  width: 30px;
}

.sub-hero {
  margin-top: 2.5rem;
}

.talent {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  color: #ec5242;
}

.title {
  font-size: 2.5rem;
  background: linear-gradient(90deg,#ec5242, #2e0b09);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'ChunkFive Ex', sans-serif;                                             
}

.sub-hero-desc {
  background: #afafaf;
  border: 2px solid rgb(247, 245, 245);
  padding: 15px 20px;
  margin-top: 1rem;
}

.sub-hero-desc p {
  font-size: 1rem;
  line-height: 25px;
}

.event-time {
  font-size: 2rem;
  margin-top: 1.5rem;
  color: #272a31;
  font-family: 'ChunkFive Ex', sans-serif; 
}

.venue {
  font-size: 1.4rem;
  color: #494949;
  margin-top: 0.7rem;
}

.program-section {
  background-image: url(img/pattern.svg);
  padding: 1.5rem;
}

.program-heading {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.program-icon {
  width: 10%;
  height: 10%;
}

.pro-desc {
  color: #fff;
  width: 50%;
  font-size: 1rem;
  line-height: 1.9rem;
}

.program-title {
  color: #ec5242;
  /* text-align: center; */
  font-size: 1.2rem;
}

.progam {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background-color: rgba(59, 59, 59, 0.4);
  padding: 20px;
}

.btn-join {
  margin-top: 2rem;
  background-color: #ec5242;
  color: #fff;
  font-size: 1rem;
  padding: 20px;
  border: none;
  font-weight: 900;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.speaker {
  padding: 1.5rem;
}

.speaker-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.person {
  width: 8rem;
  height: 8rem;
}

i {
  color: #fff;
  font-size: 2rem;
}

.speakers-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.speaker-details {
  width: 80%;
  margin-left: 1rem;
}

.speaker-name {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.des-1 {
  padding-bottom: 1rem;
  color: #ec5242;
  font-weight: 500;
}

.fa-angle-down {
  color: #ec5242;
  padding-left: 0.5rem;
  font-size: 17PX;
}

.btn-more {
  width: 100%;
  display: flex;
  font-size: 17px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  padding: 8px 0;
  border: 1px solid #d3d3d3;
  background-color: #fff;
}

header {
  display: none;
}

@media only screen and (min-width: 744px) {
  header {
    display: block;
  }

  .first-nav {
    background-color: #000;
    padding: 0 12rem;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  ul li {
    list-style: none;
    padding: 5px;
    font-size: 14px;
  }

  .first-nav li a i {
    font-size: 14px;
  }

  li a {
    text-decoration: none;
    color: #fff;
  }

  .main-nav {
    padding: 0 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 15%;
    height: 15%;
  }

  .main-nav ul li a {
    color: #000;
    font-size: 15px;
    padding-left: 1.5rem;
  }

  .decorating-text {
    border: 3px solid #ec5242;
    padding: 10px !important;
  }

  .menu, .btn-join {
    display: none;
  }

  .hero{
    padding: 2rem 12rem;
    height: 80vh;
    background-color: #d3d3d3;
  }

  .sub-hero {
    width: 58%;
  }

  .program-desktop {
    display: flex;
    padding: 0 10rem;
    justify-content: space-between;
  }

  .progam {
    width: 25%;
    margin: 2rem 0.2rem;
    background-color: rgba(54, 54, 54, 0.4);
    padding: 20px;
  }

  .pro-desc {
    color: #fff;
    width: 100%;
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
  }

  .program-title {
    color: #ec5242;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  i {
    margin: 0 auto;
    font-size: 24px;
    padding-bottom: 1rem;
  }

  .program-heading {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .whole {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 13px;
    margin: 2rem 0;
  }
}